---

- name: Install Nginx
  apt:
    name: nginx
    state: latest

- name: Remove default nginx config
  file:
    name: /etc/nginx/sites-enabled/default
    state: absent

- name: Install system nginx config
  template:
    src: templates/nginx.conf.j2
    dest: /et/nginx/nginx.conf
  notify:
    - reload nginx